header {
    text-align: center;
    background-color: aqua;
    padding: 20px;
}
nav {
    text-align: center;
    background-color: rgb(228, 241, 253);
    padding: 20px;
    margin-top: 5px;
}
section {
    border: rgb(252, 49, 49) solid 3px;
    margin: 15px 10px;
}
h2 {
    background-color: rgba(255, 0, 0, 0.603);
    margin: 5px;
    color:white;
    padding: 3px;
}
#u1 {
    list-style-type: upper-roman;
}
ul {
    list-style-type: circle;
    margin: 5px;
}
footer {
    text-align: center;
    background-color: aqua;
    padding: 10px;
}