body {
    margin: 0px;
}
header, footer {
    /* text-align: center; */
    background-color: #b8e0fe;
    padding: 10px;
    color:#29343b;
}
header {
    height: 200px;
}
header > div {
    float:left;
}
#d2 {
    text-align: center;
    margin: 10px 30px;
}
nav {
    background-color: #daf1ff;
    padding: 10px;
    clear:both;
}
a{
    display:inline-block;
    width: 100px;
    height: 10px;
    padding: 5px;
    text-align: center;
}
a:link, a:visited {
    text-decoration: none;
    color:blue;
}
a:hover, a:active{
    background-color: #b8e0fe;
    color: blue;
}
h2 {
    border: #006f00 solid 2px;
    border-left: #006f00 solid 8px;
    padding: 10px;
    margin: 13px 5px;
}
.h2_1 {
    border-color: #f6b489;
}
#p1 {
    color: #006f00;
    margin: 15px;
}
p > span{
    margin: 0px 10px;
}